#para-1 {
  font-family: Arial, sans-serif;
  border-style: dotted;
}

#para-2 {
  font-family: Verdana, sans-serif;
  font-style: italic;
}

#img-float{
  float: right;
  height: 50px;
  width: 50px;
} 

#img-2 {
  border-radius: 25px;
  margin:20px 20px 20px 20px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
